body {
  	background-color: lightblue;
 	background-size: cover;
       	text-align: center;
}

h1 {
	font-style:normal;
	font-family:"Times New Roman", Times;
  	color: red;
  	text-align: center;
	color: Black;
}
img {
	width:13%;
    	height:13%;
}
p, caption {
  	font-family: verdana;
  	font-size: 20px;
}
table, th, td {
	padding: 20px;
	text-align: center;
	color: yellow;
	border:black;
}
p {
   	font-style: normal;
   	color: black;
   	text-align: center;
	font-family: "Time New Roman", Times;
}
ul{
	font-family: Georgia, serif;
	text-align: left;
}
