body {
  	background-color: blue;
 	background-size: cover;
       	text-align: center;
}

h1 {
	font-style:normal;
	font-family:"Times New Roman", Times;
  	color: red;
  	text-align: center;
	color: Black;
}
img {
	width:40%;
    	height:40%;
}
p {
   	font-style: normal;
   	color: black;
   	text-align: center;
	font-family: "Time New Roman", Times;
}
ul{
	font-family:"Times New Roman", Times;
	text-align: left;
}
