
    
body {
  	background-color: blue;
 	background-size: cover;
       	text-align: center;
}

h1 {
  	color: white;
  	text-align: center;
}
img {
	width:13%;
    	height:13%;
}
p, caption {
  	font-family: verdana;
  	font-size: 20px;
}
p {
   	font-style: normal;
   	color: yellow;
   	text-align: center;
}
