@import url('https://fonts.googleapis.com/css?family=Heebo');


header{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right,lightblue, midnightblue, lightblue);
    font-family: 'Thasadith';
}

.footer{
    text-align: center;
    background-image: linear-gradient(to right,lightblue, midnightblue, lightblue);
    color: white;
    clear: both;
    height: 30px;
    line-height: 30px;
    text-decoration-line: overline underline;
    text-decoration-style: double;
    text-decoration-color: white
image{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}
video{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
body{
    background-color: lightblue; 
    text-align: center;
    margin: 1cm;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
