background{
  background-color:#ff6347;
}
image{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}
video{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

